body {
  background: #f0f0ff;
}

td {
  border: #eee solid 1px;
}

.buttoms-container {
  position: fixed;
  font-size: 200%;
  top: 10px;
  left: 10px;
}

.buttoms-pattern-container {
  position: fixed;
  font-size: 200%;
  top: 10px;
  right: 10px;
}

.btn {
  cursor: pointer;
  background: skyblue;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.btnH:hover {
  background: black;
  color: white;
}

tool-tip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  box-shadow: 0 0 10px #000;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  top: 100%;
  left: 12.5%;

  opacity: 0;
  transition: opacity 0.3s ease;
}

:has(> tool-tip) {
  position: relative;
}

:has(> tool-tip):hover tool-tip {
  opacity: 1;
}
